<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="/static/style.css">
        <title>portfolio</title>

    </head>
    <body>
        <section id="home">
        
        <header>
            <a href=""><img src="/static/android-chrome-192x192.png" alt="" width="44px"></a>
            <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#aboutus">About</a></li>
            <li><a href="#projects">Projects </a></li>
            <li><a href="#resume">Resume</a></li>
            <li><a href="#contact">Contact</a></li>
        </header>
         <!-- <h3>ASHER LOPES</h3> -->
        <div class="container">
           
            <pre> <p> <b> WELCOME I'M ASHER <br> I DESIGN AND BUILD USER INTERFACES.... </b></p></pre>
        </div>
        </section>
        <section id="aboutus">
        
        <div class="container">
            <h2>ABOUT</h2>
            <p id="about">I am a very highly motivated and self-driven Computer engineering student. I am currently in 3rd year doing my btech in computer engineering in Fr. conceicao rodrigues college of engineering bandra.as far as frontend languages are concern i know html ,css ,basic javascript and i also know how to use bootstrap. and for backend i know php. I have built many php projects and frontend projects and also know how to host php projects on 00webhost and on frontend projects on github.and I love to work with team  and on web projects.Explore my github account..</p>
            <button class="btn"><a href="https://github.com/Asherlopes/" target="_blank">EXPLORE</a></button>
        </div>
        </section>
        <section id="projects">
            <h2>PROJECTS</h2>
        <div class="box">
        <div class="container1">
            <h2>FORUMS WEBSITE</h2>
            <img src="/static/forums.jpeg" alt="" width="132px">
            <p>Forums website where users can post their doubts did with the help of PHP,HTML CSS basic JS.
            </p>
            <button class="btn"><a href="https://github.com/Asherlopes/forums" target="_blank">EXPLORE</a></button>
        </div>
        <div class="container1">
            <h2>GYM TEMPLATE</h2>
            <img src="/static/gym.jpeg" alt="" width="170px">
            <p>GYM Website where users can contact gym  did with the help of HTML CSS.hosted on github</p>
             <!-- <button class="btn"><a href="http://chatssuppp.000webhostapp.com/"target="_blank">EXPLORE</a></button> -->
            <!-- <P>GYM FRONTEND WEBSITE: HOSTED ON GITHUB</P> -->
            <button class="btn"><a href=" https://asherlopes.github.io/gym_home.github.io/" target="_blank">EXPLORE</a></button>
        </div>
        <div class="container1">
            <h2>BOOKING WEBSITE</h2>
            <img src="/static/book.jpeg" alt="" width="170px">
            <p>BOOKING WEBSITE for hotels restuarants and clubs did with the help of BOOTSTRAP and PHP</p>
             <!-- <button class="btn"><a href="http://chatssuppp.000webhostapp.com/"target="_blank">EXPLORE</a></button>
            //- <P>GYM FRONTEND WEBSITE: HOSTED ON GITHUB</P> -->
            <button class="btn"><a href=" https://github.com/Asherlopes/booking-website" target="_blank">EXPLORE</a></button>
        </div>
        <div class="container1">
            <h2>CHATSUPP</h2>
            <img src="/static/chats.jpeg" alt="" width="200px">
            <p>CHATTING WEBSITE where users can chat with their friends..did with the help of PHP AND BASIC JS</p>
            <button class="btn"><a href="http://chatssuppp.000webhostapp.com/"target="_blank">EXPLORE</a></button>
             <!-- <P>GYM FRONTEND WEBSITE: HOSTED ON GITHUB</P>
            //- <button class="btn"><a href=" https://asherlopes.github.io/gym_home.github.io/" target="_blank">EXPLORE</a></button> -->
        </div>
        </div>
        </section>
        <section id="resume">
        
        <div class="container5"><h2></h2>
          
            <div class="box" id="boxres">
                <h3>Pleasee download the resume</h3> 
              <button class="btn"> <a href="/static/ash-resume_new).png" download>click here</a></button> 
         
            </div>
        </div>
        </section>
        <section id="contact">
            <h2>CONTACT</h2>
        <div class="box">
           
        <div class="container4" id="grey">
            <p><img src="/static/linkedin.svg" alt="" ><strong> LINKENDN :</strong><a href="https://www.linkedin.com/in/asher-lopes-a1b10a22b/"> linkedin.com/in/asher-lopes-a1b10a22b</a></p>
            <P><img src="/static/github.svg" alt=""><strong> GITHUB :</strong><a href="https://github.com/Asherlopes">https://github.com/Asherlopes</a></P>
            <p><img src="/static/telephone.svg" alt=""><strong> MOBILE NO :</strong>7378772683</p>
            <p><img src="/static/instagram.svg" alt=""><strong> INSTAGRAM :</strong><a href="https://www.instagram.com/asherlopezz/">Asher lopes</a></p>  
            <p><img src="/static/envelope.svg" alt=""><strong> GMAIL :</strong>asherlopes4420@gmail.com</p>  
        </div>
        <div class="container4">
            <form action="/" method="POST" class="form1">
                <div class="form-group">
                    <h2>Tell Us........</h2>
                    <label for="name">Name:</label><br>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                    <label for="email">email:</label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter ur email" required>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label><br>
                    <textarea class="form-control" rows="5" id="comment" name="description" placeholder="Description" required></textarea >
                </div>
                <div>
                    <button  class="btn1" type="submit">submit</button>
                </div>
            </form>
        </div>
           
        </div>

       
       
        </section>
    </body>
</html>